# ignore todos os arquivos abaixo
/en_amostra_json
/modelo_dados_en
/modelo_dados_pt
/base_csv_estabelecimentos
/json_base
/en_base
/br_base
*.rar
*.xlsx
*.pyc
*.gzip
br_base_cnpj.db
modelo_dados_en.zip
database/backup
merge_base/backup