table {
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-column: auto;
    grid-row: auto;
    border: ridge;
    width: 100%;
}
td {
    border: 1px, solid #f7941d;
    padding: auto;   
}

tr{
    padding: auto;
    border: 1px, ridge #016a0d;
}
th {
    border: 1px, ridge #016a0d;
}
form  input{
    text-align: center;
    display: grid;
    width: 500px;
    padding: auto;
}
label {
    text-align:right;
	display: grid;
	float: left;
    width: 200px;
}
