
table, th, td {
border: 1px solid black;
padding: 8px;
}

th {
text-align: left;
background-color: lightgray;
}
td {
    width: 25%;
    background-color: #f7941d;
}

tr {
    width: 100%;
}

form  input{
    text-align: center;
    display: grid;
    width: 500px;
    padding: auto;
    background-color: #f7941d;
    color: #000000;
    font-weight: bold;
}

label {
    text-align:right;
	display: grid;
	float: left;
    width: 200px;
}

footer {
    background-color: #198e4a;
    text-align: center;
    display: flex;
    bottom: 0;
    position: fixed ;
    margin: auto;
    width: 100%;
    height: 50px;
}

button{
    background-color: #f7941d;
    margin:auto;
    text-align: center;
    position: relative;
}

.copyright  {
    text-align: center;
    padding: auto;
    position: fixed;
    left: 80%;
    color: #ffff;
}

.div_add{
    background-color: #198e4a;
}

button {
    color: #FFF;
    background-color: #f7941d;  
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    position: relative;
}
button:hover {
    transform: scale(1.05);
    background-color: white;
    color: black;
}

table#cnpj{
    background-color: #198e4a;
}

header > div{
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 63px;
    max-width: 100px;
}